.heading{
    font-size: 25px;
    width: 100%;
    margin: 0px;
    box-shadow: 5px 10px 10px aquamarine;
}

.NOTE{
    font-size: 18px;
    color: black;
}

.copyrightfooter {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color:darkkhaki;
  line-height: 3;
  text-align: center;
  color: indigo;
}

canvas{
border: 5px dashed lawngreen;
border-radius: 4px;
box-shadow: 5px 10px 15px lightseagreen;
}